In [13]:
import shapefile
import pandas as pd
file = shapefile.Reader("C:/Users/User/Desktop/Servicio Social_ interioridad/REDCDMX/VialidadOSM.shp")
diccionario = file.__geo_interface__

In [14]:
t = []
c = []

i = 0
for x in diccionario['features']:
    if i < len(diccionario['features']):
        t.append(diccionario['features'][i]['geometry']['type'])
        c.append(diccionario['features'][i]['geometry']['coordinates'])
        i += 1

In [15]:
df = pd.DataFrame({'type' : t, 'coordinates' : c})

In [1]:
import pandas as pd

In [ ]:
df = pd.DataFrame(d)

In [16]:
df

              type                                        coordinates
0       LineString  [(-99.155751, 19.367176), (-99.155593, 19.3675...
1       LineString  [(-99.184982, 19.385149), (-99.185079, 19.3850...
2       LineString  [(-99.131604, 19.394036), (-99.131504, 19.3945...
3       LineString  [(-99.140084, 19.382814), (-99.14144, 19.38306...
4       LineString  [(-99.147813, 19.380851), (-99.148397, 19.3809...
...            ...                                                ...
104000  LineString  [(-99.190561, 19.333546), (-99.190461, 19.3336...
104001  LineString  [(-99.190461, 19.333669), (-99.190201, 19.3333...
104002  LineString  [(-99.187972, 19.325816), (-99.188095, 19.3267...
104003  LineString  [(-99.189227, 19.322155), (-99.189438, 19.3241...
104004  LineString  [(-99.189055, 19.330075), (-99.189135, 19.3306...

[104005 rows x 2 columns]

In [41]:
t = []
c = []
p = []
siq  = [u'highway', u'barrier', u'id', u'nombre', u'osm_id', u'other_tags', u'sentido', u'tipo', u'z_order']

i = 0
for x in diccionario:
    if i < len(diccionario['features']):
        t.append(diccionario['features'][i]['geometry']['type'])
        c.append(diccionario['features'][i]['geometry']['coordinates'])
        for key, val in diccionario['features'][i]['properties'].items():
            if key in siq:
                p.append(val)
        i += 1